security:
    password_hashers:
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider

            # Si tu utilises un authenticator personnalisé
            custom_authenticators:
                - App\Security\SecurityControllerAuthenticator

            # Optionnel : form_login si tu veux garder le formulaire par défaut
            form_login:
                login_path: app_login
                check_path: app_login
                default_target_path: /accueil

            logout:
                path: app_logout
                target: app_login

            # Définir le point d'entrée pour les utilisateurs anonymes
            entry_point: App\Security\SecurityControllerAuthenticator

            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /
                always_remember_me: true

    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
       # - { path: ^/$, roles: ROLE_ADMIN } # la home /

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
