{% extends 'base.html.twig' %}

{% block body %}
<div class="container py-5">
    <h2>Définir un nouveau mot de passe</h2>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-success mt-3">Changer le mot de passe</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
